<section id="posts">
	<article>
		<header>
			<h1><%= @article.title %></h1>
			<time><%= @article.date %></time> &bull; 
			<a href="javascript:void(0)" onclick="read_later('<%= @article.path %>');">Read Later</a>
		</header>
		<section>
			<%= @article.body %>
		</section>
	</article>
</section>

<!-- <a href="<%= @article.path %>">Permalink</a> &bull; -->
