<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Error</title>
	</head>
	<body>
	<div id="container">
		<h1><%= @params[:error_message] %> (<%= @params[:error_code] %>)</h1>
	</div>
	</body>
</html>
